@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<form method="dialog="post>
    <div>
         <Name: for="txtName">Name:</label>
         <input id="txtName"placeholder="Enter Name" required type="text"/>
    </div>
    <div>
        <Name: for="txtPassword">Password:</label>
        <input id="txtPassword" placeholder="Enter Password" required type="password" />
    </div>
    <div>
        <input type="submit" value="ok" />
    </div>

</form>