
@{
    ViewData["Title"] = "GetTime";
}

<h1>Time:@ViewData["date"]</h1>
<div>
        <form action ="GetTime">
        <input class="btn btn-danger" value="HitMe 😢😢" />
            <input type="submit" value="HitMe"/>
        </form>
</div>
