
@{
    ViewData["Title"] = "IndexPost";
}

<h1>IndexPost</h1>
<div>
    <h3>ViewDataX: @ViewData["X"]</h3>
    <h3>TempDataX: @TempData["globalX"]</h3>
    <h3>ViewDataY: @ViewData["globalY"]</h3>
</div>
